* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  color: rgba(255, 255, 255, 0.87);
  background-color: #252526;

  overflow-y: scroll;
  
  /* Estilizando o scrollbar para navegadores WebKit (Chrome, Safari, etc.) */
  &::-webkit-scrollbar {
    width: 9px; /* Largura do scrollbar */
    background-color: white;
  }


  &::-webkit-scrollbar-thumb {
    background-color: #252526; /* Cor do polegar do scrollbar */
    border-radius: 6px; /* Borda arredondada do polegar do scrollbar */
   
  }


}

ul {
  list-style: none;
}